<app-top-menu-navigation></app-top-menu-navigation>
<section id="page-container" class="app-page-container">
  <div class="app-content-wrapper">
    <div class="app-content">
      <div class="full-height">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
